<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
    <style>
       
        #box{
            width: 300px;
            margin: 0 auto;
            background: rgb(226, 224, 224);
            padding: 50px;
        }
        ul{
            list-style: none;
            padding-left: 0;
        }
        .finish{
            color: #cccccc;
            text-decoration: line-through;
        }
        .span{
            color:blue;
            cursor: pointer;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="box" v-cloak>
          <h1>任务列表</h1>
          <p>任务总数: {{arr.length}};还有 {{choose()}} 未完成；<span @click="finish()" class="span" >【完成】</span></p>
          <ul>
              <li v-for="(item,index) in arr" v-bind:class="{ finish:item.bol }">
                  <input type="checkbox" v-model="item.bol" >
                  <span v-text="item.des" v-show="!item.edit" @click="edit(index)" ></span>
                  <input type="text" v-model="item.des" v-show="item.edit" @blur="item.edit=false">
              </li>
              
          </ul>
          <input type="text" v-model="msg" ><button @click="add">添加</button>
    </div>
  <script>
      new Vue({
          el:'#box',
          data:{
              arr:[
                  {des:'设计',bol:false,edit:false} ,
                  {des:'编写页面代码',bol:false,edit:false} ,
                  {des:'编写js代码',bol:false,edit:false} ,
                  {des: '设计产品原型',bol:false,edit:false}

              ],
              msg:''
          },
          methods:{
              add(){
                  this.arr.push({des:this.msg,bol:false,edit:false});
                  this.msg = '';
              },
              choose(){
                  var num =0;
                  this.arr.forEach(function(item){
                      if(!item.bol){
                          num++;
                      }
                  });
                  return num;
              },
              finish(){
                  var temp=this.arr;
                  this.arr=[];
                  for(var i=0;i<temp.length;i++){
                      if(!temp[i].bol){
                          this.arr.push(temp[i])
                      }
                  }


              },
              edit(i){
                  if(this.arr[i].bol){
                      return;
                  }
                 this.arr[i].edit=true;
              }
        
          }

      })
  
  </script>
    
</body>
</html>